<!DOCTYPE HTML>
<html lang='en'>
<head>
	<title>About - History of Mass Incarceration</title>
	<meta charset='utf-8' />
	<meta name="viewport" content="width=device-width, initial-scale=1" />

	<!-- Favicon -->
	<link rel="shortcut icon" type="image/png" href="/public/favicon.png" />
	<link rel="shortcut icon" type="image/png" href="/hist-12a-project/public/favicon.png" />

	<!-- Google Fonts -->
	<link href="https://fonts.googleapis.com/css?family=Oswald:300,400,700" rel="stylesheet" />

	<!-- Stylesheets -->
	<link rel="stylesheet" type="text/css" href="/public/css/style.css" />
	<link rel="stylesheet" type="text/css" href="/hist-12a-project/public/css/style.css" />
</head>
<body class='background-light-grey'>
	<div class='content-wrapper background-dark-grey'>

		<!-- Banner -->
		<div class="banner">
			<a href='/hist-12a-project'><h1>History of Mass Incarceration</h1></a>
		</div>

		<!-- Navbar -->

		<p>This is the About Page</p>

	</div>
</body>
</html>
