<!DOCTYPE HTML>
<html lang='en'>
<head>
	<title>About - History of Mass Incarceration</title>
	<meta charset='utf-8' />
	<meta name="viewport" content="width=device-width, initial-scale=1" />

	<!-- Favicon -->
	<link rel="shortcut icon" type="image/png" href="/public/favicon.png" />
	<link rel="shortcut icon" type="image/png" href="/hist-12a-project/public/favicon.png" />

	<!-- Google Fonts -->
	<link href="https://fonts.googleapis.com/css?family=Oswald:300,400,700" rel="stylesheet" />

	<!-- Stylesheets -->
	<link rel="stylesheet" type="text/css" href="/public/css/style.css" />
	<link rel="stylesheet" type="text/css" href="/hist-12a-project/public/css/style.css" />

	<link rel="stylesheet" type="text/css" href="/public/css/navbar.css" />
	<link rel="stylesheet" type="text/css" href="/hist-12a-project/public/css/navbar.css" />

	<link rel="stylesheet" type="text/css" href="/public/css/about.css" />
	<link rel="stylesheet" type="text/css" href="/hist-12a-project/public/css/about.css" />
</head>
<body class='background-light-grey'>
	<div class='content-wrapper background-dark-grey'>

		<!-- Banner -->
		<div class="banner">
			<a href='/hist-12a-project'><h1>History of Mass Incarceration</h1></a>
		</div>

		<!-- Navbar -->
		<div class='navbar'>
			<div class='content-wrapper'>
				<a href='/hist-12a-project'>Timeline</a>
				<a href='/hist-12a-project/views/common-themes.html'>Common Themes</a>
				<a href='/hist-12a-project/views/plantation-to-prison.html'>Plantation to Prison</a>
				<a href='/hist-12a-project/views/current-state.html'>Current State</a>
				<a href='/hist-12a-project/views/about.html'>About</a>
				<a class='icon' onclick='displayMobileNavList()'>&#9776;</a>
			</div>
		</div>
		<div id="mobile-nav-list" class='mobile-nav-list'>
			<a href='/hist-12a-project'>Timeline</a>
			<a href='/hist-12a-project/views/common-themes.html'>Common Themes</a>
			<a href='/hist-12a-project/views/plantation-to-prison.html'>Plantation to Prison</a>
			<a href='/hist-12a-project/views/current-state.html'>Current State</a>
			<a href='/hist-12a-project/views/about.html'>About</a>
		</div>

		<h1>About this Project</h1>
		<p>
			In Winter 2019, the three of us took a class under Professor Lytle Hernandez
			about the history of mass incarceration in the US. The class acted as a catalyst
			for our new understanding about the state of incarceration in the US. For our
			final project, we were tasked with showcasing all the knowledge we've gained in
			class in some creative manner. Because the three of us come from technical backgrounds,
			it wasn't too surprising when we agreed to build a website to achieve this goal.
			To us, the web browser is our canvas and is how we prefer to tell a story. We
			hope the content of this website is more than just a simple regurgitation of historical
			facts, but also a collection of unique thoughts and commentaries on the subject of
			mass incarceration.
		</p>

		<h1>Contributors</h1>
		<div class='contributor-list'>
			<div class="contributor">
				<img height="200px" width="200" src="https://avatars2.githubusercontent.com/u/16298586?s=460&v=4" />
				<p>Jeffrey Chan</p>
				<p>UCLA 2019</p>
				<p>Computer Science</p>
			</div>
			<div class="contributor">
				<img height="200px" width="200" src="https://avatars1.githubusercontent.com/u/12246882?s=460&v=4" />
				<p>Robert Zalog</p>
				<p>UCLA 2019</p>
				<p>Computer Science</p>
			</div>
			<div class="contributor">
				<img height="200px" width="200" src="https://avatars0.githubusercontent.com/u/24944334?s=400&v=4" />
				<p>Ashwin Narkar</p>
				<p>UCLA 2019</p>
				<p>Electrical Engineering</p>
			</div>
		</div>

		<h1>Bibliography and Useful Resources</h1>
		<p class='hanging-indent'>
			Hernandez, K. L. (2017). City of inmates conquest, rebellion, and
			the rise of human caging in Los Angeles, 1771-1965. Chapel Hill:
			The University of North Carolina Press.
		</p>

		<p>Images obtained from Google Images</p>
		<p>Timeline generated by using <a href='https://timeline.knightlab.com/' target="__blank">TimelineJS</a></p>

	</div>

	<!-- Necessary JS to make mobile navbar work -->
	<script>
		// Function that displays the mobile nav list by adding the display className
		function displayMobileNavList() {
			let x = document.getElementById('mobile-nav-list')
			if (x.className === 'mobile-nav-list') {
				x.className += ' display'
			} else {
				x.className = 'mobile-nav-list'
			}
		}

		// Function that finds the corresponding dropdown contentand toggles its display
		function displayDropdownContent(e) {
			$(e).find('.mobile-dropdown-content').toggle()
		}

	</script>
</body>
</html>
