<!DOCTYPE HTML>
<html lang='en'>
<head>
	<title>History of Mass Incarceration</title>
	<meta charset='utf-8' />
	<meta name="viewport" content="width=device-width, initial-scale=1" />

	<!-- Favicon -->
	<link rel="shortcut icon" type="image/png" href="/public/favicon.png" />
	<link rel="shortcut icon" type="image/png" href="/hist-12a-project/public/favicon.png" />

	<!-- Google Fonts -->
	<link href="https://fonts.googleapis.com/css?family=Oswald:300,400,700" rel="stylesheet" />

	<!-- jQuery -->
	<script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js'></script>

	<!-- Stylesheets -->
	<link rel="stylesheet" type="text/css" href="/public/css/style.css" />
	<link rel="stylesheet" type="text/css" href="/hist-12a-project/public/css/style.css" />

	<link rel="stylesheet" type="text/css" href="/public/css/navbar.css" />
	<link rel="stylesheet" type="text/css" href="/hist-12a-project/public/css/navbar.css" />
</head>
<body class='background-light-grey'>
	<div class='main-content-wrapper content-wrapper background-dark-grey'>

		<!-- Banner -->
		<div class="banner">
			<a href='/hist-12a-project'><h1>History of Mass Incarceration</h1></a>
		</div>

		<!-- Navbar -->
		<div class='navbar'>
			<div class='content-wrapper'>
				<a href='/hist-12a-project'>Timeline</a>
				<a href='/hist-12a-project/views/common-themes.html'>Common Themes</a>
				<a href='/hist-12a-project/views/plantation-to-prison.html'>Plantation to Prison</a>
				<a href='/hist-12a-project/views/current-state.html'>Current State</a>
				<a href='/hist-12a-project/views/about.html'>About</a>
				<a class='icon' onclick='displayMobileNavList()'>&#9776;</a>
			</div>
		</div>
		<div id="mobile-nav-list" class='mobile-nav-list'>
			<a href='/hist-12a-project'>Timeline</a>
			<a href='/hist-12a-project/views/common-themes.html'>Common Themes</a>
			<a href='/hist-12a-project/views/plantation-to-prison.html'>Plantation to Prison</a>
			<a href='/hist-12a-project/views/current-state.html'>Current State</a>
			<a href='/hist-12a-project/views/about.html'>About</a>
		</div>

		<h1>Common Themes in History of Mass Incarceration</h1>

		<h2>Settler Colonialism</h2>
		<p>
			Settler colonialism is a type of colonialism that effectively pushes the indigenous
			people out of their lands or their culture. This was done throughout U.S. history
			and in the U.S. Western region. One way was removal of land. In the LA region, settlers,
			both the initial Spanish and eventual English, forcibly removed land from the Natives
			such as the Tongvas. Another way in which they forced people out was through restriction
			of rights, often legally enacted through laws, such as the 1850 Act for the Governance
			and Protection of Indians.
		</p>

		<h2>Use of Rhetoric</h2>
		<p>
            Rhetoric was often used, especially in legal documents, in order to hid the true
			intentions of created laws. One example was again the 1850 Act for the Governance and
			Protection of Indians. Even just the title it is clear that the law makes it sound like
			the act was created for the Indians' benefits, but in reality, it only served to
			oppress them.
        </p>

		<h2>Profit</h2>
		<p>
            During the time of slavery, plantation owners would have access to a
			cheap source of labor and would be able to increase production so that they
			could profit on that labor. After the Jim Crow era, the South lost that source of
			labor. However, it wasn't too much different because blacks didn't have much right to land or legal power,
			so they a lot of black people still ended up working for white people and got underpaid.
			In the modern prison system, prison inmates are put to work to produce something of value, thus a
			source of cheap labor. To build and maintain state and federal prisons, the government purchases
			infrastructure and materials from companies who produce what prisons need. These self-interested
			parties benefit from the prison system, and thus have a political incentive to keep
			being hard on crime, and to keep the prison system growing because it means more profit.
        </p>

		<h2>Deportation</h2>
		<p>
            Deportation was not a concept that was in the united states constitution.
			The concept of plenary power arose, which is the idea that matters not stated in the
			constitution fall into the jurisdiction of the executive branch of government. This
			means that things like deportation are not considered crimes, and thus illegal immigrants
			do not have rights to things like due process. This has been very controversial, allowing
			laws to be created that do not give illegal immigrants any chance to defend themselves and
			not be deported.
        </p>
	</div>

	<!-- Necessary JS to make mobile navbar work -->
	<script>
		// Function that displays the mobile nav list by adding the display className
		function displayMobileNavList() {
			let x = document.getElementById('mobile-nav-list')
			if (x.className === 'mobile-nav-list') {
				x.className += ' display'
			} else {
				x.className = 'mobile-nav-list'
			}
		}

		// Function that finds the corresponding dropdown contentand toggles its display
		function displayDropdownContent(e) {
			$(e).find('.mobile-dropdown-content').toggle()
		}

	</script>
</body>
</html>
