<!DOCTYPE HTML>
<html lang='en'>
<head>
	<title>Current State of Mass Incarceration</title>
	<meta charset='utf-8' />
	<meta name="viewport" content="width=device-width, initial-scale=1" />

	<!-- Favicon -->
	<link rel="shortcut icon" type="image/png" href="/public/favicon.png" />
	<link rel="shortcut icon" type="image/png" href="/hist-12a-project/public/favicon.png" />

	<!-- Google Fonts -->
	<link href="https://fonts.googleapis.com/css?family=Oswald:300,400,700" rel="stylesheet" />

	<!-- Stylesheets -->
	<link rel="stylesheet" type="text/css" href="/public/css/style.css" />
	<link rel="stylesheet" type="text/css" href="/hist-12a-project/public/css/style.css" />

</head>
<body class='background-light-grey'>
	<div class='content-wrapper background-dark-grey'>

		<!-- Banner -->
		<div class="banner">
			<a href='/hist-12a-project'><h1>History of Mass Incarceration</h1></a>
		</div>

		<!-- Navbar -->

		<h1>Current State of Mass Incarceration</h1>
		<p>
			In Winter 2019, the three of us took a class under Professor Lytle Hernandez
			about the history of mass incarceration in the US. The class acted as a catalyst
			for our new understanding about the state of incarceration in the US. For our
			final project, we were tasked with showcasing all the knowledge we've gained in
			class in some creative manner. Because the three of us come from technical backgrounds,
			it wasn't too surprising when we agreed to build a website to achieve this goal.
			To us, the web browser is our canvas and is how we prefer to tell a story. We
			hope the content of this website is more than just a simple regurgitation of historical
			facts, but also a collection of unique thoughts and commentaries on the subject of
			mass incarceration.
		</p>
        <h2>Big Data and Policing</h2>
        <p>
            Technology has brought access to huge amounts of data. Today, many police reports that should be public property are withheld without reason. There has been a public push to have body cameras on all police officers during their activity, however, this solution has not brought about much change. Much of the feed from these cameras is again not shared by the police, and officers have control over when to turn on these cameras.
        </p>
        <h2>Decarceration</h2>
		<p>
            Overcrowding of prisons is already a major problem in today’s incarceral state. Decarceration involves a push to stop putting people in prison for minor crimes such as drug possessions and misdemeanors and getting current inmates out of prison. Inmates who are in for minor crimes are disproportionately Black and Latino. Incarcerating people for these crimes results in overcrowded prisons. This spirals into building more prisons.
        </p>
        <h2>Rehabilitation</h2>
        <p>
            Rehabilitation often is paired with decareration. It involves assisting current inmates, who may have spent a very long time in prison, to come back to life outside of prison. Often, employers will not employ past inmates and people who have been convicted of crime. These previous inmates are forced to return to a life of petty crime to survive, finding themselves back in prison in a deathly spiral.
        </p>
        <h2>Public Policy</h2>
        <p>
            Mass incarceration is a problem in the US. Not only does it cost the country and states a large sum of money to maintain prisons, it also comes at an emotional cost to the people and families who have people they care about locked up. Today, people have recognized mass incarceration as a problem and are taking steps to reduce and eliminate the problem. One of the ways people are contributing to the solution is fighting for change in public policy. Public policy can be influenced with power, such as the power on social media, political power, philanthropists, and people power. By taking advantage of these several sources of power, people have been able to achieve political victories over policy related to mass incarceration.
        </p>
        
	</div>
</body>
</html>
