.content-wrapper {
  padding-bottom: 50px;
}

.contributor-list {
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
  max-width: 800px;
}

.contributor {
  display: inline-block;
  width: 200px;
}

.contributor p {
  padding: 0 5px;
}

.hanging-indent {
  padding-left: 60px;
  text-indent: -40px;
}
