/* Normal HTML */

html, body {
  margin: 0;
  min-height: 100%;
}

/* Typography */

h1 {
  font-family: "Oswald", sans-serif;
  font-size: 36px;
  font-weight: bold;
  letter-spacing: 1px;
  color: #FFA620;

  padding: 0 20px;
  margin: 20px 0 10px;
}

h2 {
  font-family: "Oswald", sans-serif;
  font-size: 32px;
  font-weight: bold;
  letter-spacing: 1px;
  color: #FFA620;

  padding: 0 20px;
  margin: 20px 0 10px;
}

p {
  font-family: "Oswald", sans-serif;
  font-size: 18px;
  font-weight: 300;
  letter-spacing: 1px;
  color: white;

  padding: 0 20px;
  margin: 10px 0 15px
}

a {
  text-decoration: none;
  font-family: "Oswald", sans-serif;
  letter-spacing: 2px;
}

/* Backgrounds and Colors */

.background-light-grey {
  background-color: #767676;
}

.background-dark-grey {
  background-color: #2F2F2F;
}

/* Wrappers */

.content-wrapper {
  max-width: 1200px;
  margin: 0 auto;
  min-height: 100%;
}

.timeline-wrapper {
  padding: 20px;
}

.main-content-wrapper {
  padding-bottom: 50px;
}

/* Banner */

.banner h1 {
  font-family: "Oswald", sans-serif;
  font-size: 48px;
  margin: 0;
  padding: 5px 20px 10px;
  color: #FFA620;
}
